/* You can add global styles to this file, and also import other style files */
:root {
  --bg-gradient: radial-gradient(
    circle,
    hsla(198, 100%, 97%, 1) 34%,
    hsla(188, 49%, 91%, 1) 100%
  );

  --text-color: #01515f;
  --primary-color: #01515f;
  --button-hover: #ffd600;
  --button-text: #e1f5fe;
  --button-texthover: #01515f;
  --card-bg: #01515f;
  --card-text: #e1f5fe;
}
.dark-theme {
  --bg-gradient: radial-gradient(circle, hsla(0, 0%, 23%, 1) 34%, hsla(0, 0%, 13%, 1) 100%);
  --primary-color: #e0e0e0;
  --text-color: #e0e0e0;
  --button-hover: #ffd600;
  --button-text: #000000;
  --button-text-hover: #e0e0e0;
  --card-bg: #e0e0e0;
  --card-text: #01515f;
}

body {
  font-family: "Mulish", sans-serif;
  background: var(--bg-gradient);
  color: var(--text-color);
  transition: background 0.5s ease, color 0.3s ease;
}