<div
  class="header-container d-flex flex-wrap justify-content-between align-items-center px-3"
>
  <div class="left-part">
    <p class="title mb-0">Weather App</p>
  </div>
  <ng-container *ngIf="showMiddlePart">
    <div class="middle-part d-flex align-items-center">
      <app-search-bar></app-search-bar>
      <app-date-picker></app-date-picker>
    </div>
  </ng-container>
  <div class="right-part d-flex align-items-center">
    <div class="theme-container me-3">
      <button (click)="toggleTheme()">
        @if(isDarkMode){ <i class="fi fi-ts-moon m-0 p-0"></i> } @else{<i
          class="fi fi-tr-brightness m-0 p-0"
        ></i
        >}
      </button>
    </div>
    <div class="temp-unit-container d-flex align-items-center">
      <p class="unit m-0 p-0 me-2">F&deg;</p>
      <mat-slide-toggle
        [aria-label]="'Fehrenhiet/Celsius Toggle'"
        [checked]="!isCelsius"
        (change)="toggleUnit()"
      >
      </mat-slide-toggle>
    </div>
  </div>
</div>
<ng-container *ngIf="!showMiddlePart">
  <div class="middle-wrapper d-flex justify-content-center mx-3">
    <div class="middle-part d-flex flex-wrap align-items-center">
      <app-search-bar></app-search-bar>
      <app-date-picker></app-date-picker>
    </div>
  </div>
</ng-container>
